{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Daniel Valenzuela</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container   ">
        <header class="header">
            <h2 class="header header--name">Daniel Valenzuela</h2>
            <nav class="header header--nav">
                <div class="header--inner">
                    <a class="header header--nav header__active" href={% url  'home' %}>Inicio</a>
                    <a class="header header--nav header__inactive" href="https://github.com/DanielVZ96/">Github</a>
                    <a class="header header--nav header__inactive" href={% url 'contact' %}>Contacto</a>
                </div>
            </nav>
        </header>
        <main class="main" role="main">
            <h1 class="main main--heading">Programador</h1>
            <div class="main projects">
                {% for project in projects %}
                <div class="main projects--project">
                    <a href="{{ project.url }}">{{ project.name }}</a>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
</body>
</html>